[package]
name = "onchain_id_starknet"
version = "0.1.0"
edition = "2024_07"
cairo-version = "2.8.4"

# See more keys and their definitions at https://docs.swmansion.com/scarb/docs/reference/manifest.html

[dependencies]
starknet = "2.8.4"
openzeppelin_access = { git = "https://github.com/OpenZeppelin/cairo-contracts.git", tag = "v0.17.0" }

[dev-dependencies]
snforge_std = { git = "https://github.com/foundry-rs/starknet-foundry", tag = "v0.31.0" }

[[target.starknet-contract]]
sierra = true

[tool.fmt]
sort-module-level-items = true

[scripts]
test = "snforge test"
